/node_modules
/passwords.txt
/test.js

*passgen-3ff24-firebase-adminsdk-j29pf-18ec78732e.json
passgen-3ff24-firebase-adminsdk-j29pf-18ec78732e.json
/passgen-3ff24-firebase-adminsdk-j29pf-18ec78732e.json